* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.book-item {
  margin: 10px;
}

#add-book-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

hr {
  margin: 10px 0;
}

#title,
#author {
  width: 50vw;
  margin: 10px;
}

.add-button {
  margin-left: 10px;
  width: 100px;
  padding: 10px 5px;
  color: black;
  cursor: pointer;
  border: 2px solid black;
}
